*{
    margin: 0;
    padding: 0;
}

.container{
    height: 600px;
    width: 1300px;
    max-width: 100%;
}

div.espaciado{
margin-bottom: 50%;
}

ol, ul{
    list-style: none;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
}
body{
    background-color: rgb(190, 236, 83);
}

nav {
    background-color: rgb(152, 136, 240);
    width: 100%;
    overflow: auto;
}

nav a{
    color: aliceblue;
}

nav li{
    float: left;
    list-style: none;
    display: block;
    background-color: rgb(152, 136, 240);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

h2{
    color: rgb(57, 104, 119);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section{
    padding-top: 80px;
}

.galeriaimg{
    width: 200px;
    height: 150px;
}

.homeimg{
    width: auto;
    height: auto;
}

.flores{
    padding: 20px;
    margin-left: 1%;
    background-color: rgba(240, 240, 106, 0.966);
    float: left;
    border-radius: 2em;
    text-align: center;
    margin: 1%;
    width: 275px;
    height: 500px;
}

h5{
    color: black;
}
h5~p{
    color: black;
}

.carousel-caption{
    top: 0;
    bottom: auto;
}

h7{
    background-color: rgb(195, 203, 248);
    opacity: 65%;
    color: black;
    font-size: 54px;
}
h7~p{
    background-color: rgb(195, 203, 248);
    opacity: 65%;
    color: black;
    font-size: 54px;
}
footer{
    padding-top: 10%;
    bottom: 100%;
    top: auto;
}