{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
Registro de usuario - Florería Pétalos
{% endblock titulo %}

{% load static %}

{% block contenido %}
<div class="container">
    <h2>Registro de usuario</h2>

    <form action="" method="POST">
        {% csrf_token %}

        <table class="table">
            {{ form | crispy }}
        </table>

        <div class="float-right">
            <input type="reset" value="Limpiar" class="btn btn-info">
            <input type="submit" value="Registrar" class="btn btn-success">
        </div>

    </form>
</div>
{% endblock contenido %}