    {% extends "core/base.html" %}
    {% block titulo %}
        Galeria de Flores - Florería Pétalos
    {% endblock titulo %}
        <h2>Catálogo de flores</h2>
    {% load static %}
   
    {% block contenido %}
    {% for f in listaflores %}
         <div class="flores">
            <h3>{{f.name}}</h3>
            <img src="{{f.foto.url}}">
            <p>{{f.descripcion}}</p>
            <p>${{f.valor}}</p>
            <p>Cantidad en stock: {{f.stock}}</p>
            <div>Añadir</div>
        </div>
    {% endfor %}
        

    {% endblock contenido %}
          