    {% extends "core/base.html" %}
    {% block titulo %}
        Galeria de Flores - Florería Pétalos
    {% endblock titulo %}

    {% load static %}
   
    {% block contenido %}
        <h2>Catálogo de flores</h2>
    {% for f in listaflores %}
         <div class="flores">
            <h3>{{f.name}}</h3>
            <img src="{{f.foto.url}}">
            <p>{{f.descripcion}}</p>
            <p>${{f.valor}}</p>
            <p>Cantidad en stock: {{f.stock}}</p>
            {%if f.stock >= 1 %}
            <p style="color:rgb(9, 77, 6)">Estado: Disponible</p>
            {% else %}
            <p style="color: red">Estado: No Disponible</p>
            {% endif %}
            {% if not user.is_authenticated %}
            <p>Para agregar objetos al carro, debe <a href="{% url 'LOGIN' %}">Iniciar sesión</a></p>
            {% endif %}

            {% if user.is_authenticated %}
            <div>
                    <a href="{% url 'ANADIR_CARRO' f.name %}">Agregar a Carro</a>
            </div>
            {% endif %}

            {% if user.is_superuser %}
            <div>
                <a href="{% url 'ELIMINAR' f.name %}">Eliminar</a>
            </div>
            <div>
                <a href="{% url 'MODIFICA' f.name %}">Modificar</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
        

    {% endblock contenido %}
          