    {% extends "core/base.html" %}
    {% block titulo %}
        Galeria de Flores - Florería Pétalos
    {% endblock titulo %}

    {% load static %}
   
    {% block contenido %}
        <h2>Catálogo de flores</h2>
    {% for f in listaflores %}
         <div class="flores">
            <h3>{{f.name}}</h3>
            <img src="{{f.foto.url}}">
            <p>{{f.descripcion}}</p>
            <p>${{f.valor}}</p>
            <p>Cantidad en stock: {{f.stock}}</p>
            <div>
                <a href="{% url 'ANADIR_CARRO' f.name %}">Agregar a Carro</a>
            </div>
            <div>
                <a href="{% url 'ELIMINAR' f.name %}">Eliminar</a>
            </div>
            <div>
                <a href="{% url 'MODIFICA' f.name %}">Modificar</a>
            </div>
        </div>
    {% endfor %}
        

    {% endblock contenido %}
          