    {% extends "core/base.html" %}
    {% block titulo %}
        Quienes somos - Florería Pétalos
    {% endblock titulo %}

    {% load static %}
   
    {% block contenido %}
    <div class="container">
        <h4 style="font-family: cursive;">Nuestro equipo</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eos vel iste deleniti nostrum ut, odit placeat maiores dicta ipsa, porro doloremque sint quisquam accusantium perspiciatis impedit explicabo ad facilis! 
        </p>
        <h4 style="font-family: cursive;">Nuestra vision</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus inventore dicta, mollitia voluptatibus corporis optio eius magni sint quibusdam expedita, nam repudiandae error ut. Eos quasi earum obcaecati consequuntur numquam?</p>
    </div>
    
    

    {% endblock contenido %}
    #dasdsadadadadadadadadadadadadadadadadadadadad